<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="/menu/home">
        <ion-icon name="podium-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onSave()">
        <ion-icon name="checkmark-done-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Vendre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="appStat$|async as stateAcc" [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label><h1>Choisissez Les produits à vendre</h1></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let v of stateAcc.productToSaleStat.productsToSale">

      <ion-avatar slot="start">
      </ion-avatar>
      <ion-checkbox (click)="OnSelect(v)" [checked]=v.isSelected color="primary" name="selected"
                    slot="start"></ion-checkbox>
      <ion-label *ngIf="v.product.quantity">
        <strong> {{v.product.name}}</strong>
      </ion-label >
      <ion-label *ngIf="v.product.quantity"  slot="end">
        <h6>Qte acheté</h6>
        <strong> {{v.requestedQuantity}}</strong>
      </ion-label>
    </ion-item>

  </ion-list>


</ion-content>
